div p {
  color: white;
}
div label {
  color: white;
}
p.center {
  text-align: center;
  width: 100%;
}
p.left {
  text-align: left;
}
p.large {
  font-size: 300px;
}
p.large1 {
  font-size: 150%;
}
.form {
  margin: 0 auto;
}
.form label {
  display: inline-block;
  text-align: right;
  float: center;
}
.form input {
  display: inline-block;
  text-align: center;
  float: center;
}
input[type="text"] {
  width: 220px;
  text-align: left;
  background-color: pink;
}
input[type="submit"]:hover {
  color: white;
  background-color: gold;
}
input[type="reset"]:hover {
  color: white;
  background-color: gold;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.form textarea {
  text-align: left;
  color: black;
}
a {
  font-size: 150%;
}
.column {
  display: flex;
  width: 33.33%;
  padding: 5px;
}
.row {
  display: flex;
}
