@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #000;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #fff;
  transition: 0.5s;
  color: #000;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
.center {
  text-align: center;
}
.div-center {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.img-center {
  display: block;
  margin: 0 auto;
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
body {
  padding: 0;
  font-family: Merriweather;
  background: #000;
  color: #fff;
  font-size: 25px;
}
.flex-row {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto;
}
.flex-col {
  width: 80%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.flex-text {
  width: 90%;
}
.avatar-image {
  border-radius: 10px;
}
.info-container {
  padding-left: 50px;
}
.pie-chart {
  width: 100%;
  height: 500px;
  background-color: black;
}
.slider-image {
  width: 60%;
  height: auto;
  border-radius: 20px;
}
#slider-form input {
  background-color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}
#slider-form select {
  background-color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
}
/* section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */
